* {
   box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  width: auto;
}
header {
  height: 150px;
  width: 100%;
  color: white;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  background-color: #333A56;
  margin: auto;
  line-height: 150px;

}
a:link {
  text-decoration: none;
  }
a:hover {
 color: red;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}
nav {
  color: black;
  background: #e0e0e0;
  height:40px;
  text-align: right;
  text-transform: uppercase;
  line-height: 10px;
}
.links {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 20px;
  line-height: auto;
}
section {
  display: inline-block;
  margin-left: 1%;
  margin-right: auto;
  padding: 5px;
  width: 48%;
  color: white;
  background: #333A56;
  border-width: 3px;
  border-style: solid;
  border-color: #333A56;
}
.fullsection {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 100%;
  color: white;
  background: #333A56;
  border-width: 3px;
  border-style: solid;
  border-color: #333A56;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
footer {
  height: 80px;
  width: 100%;
  color: white;
  background-color: #333A56;
  bottom: 0;
  text-align: center;
  line-height: 80px;
}
.secfooter {
  height: 80px;
  width: 100%;
  color: white;
  font-size: small;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}
